{% extends 'base.html' %}

{% block head %}
<title>Calorie Calc</title>
{% endblock %}


{% block body %}
<body>

<div>
    <h1>Calorie Calculator ⚡</h1>
    <form action="/calculate" method="POST">
    <label for="weight">Weight 🏋️:</label>
    <input type="number" id="weight" name="weight" placeholder="Weight" class="input" min="1" step="0.1" required>
    <br>

    <label for="height">Height 📏:</label>
    <input type="number" id="height" name="height" placeholder="Enter your height cm" class="input">
    <br>

    <label for="age">Age 🎂:</label>
    <input type="number" id="age" name="age" placeholder="Enter your age" class="input" min="1" max="140">
    <br>
    <label for="activity">Activity Level 🏃:</label>
    <select id="activity" name="activity" required>
        <option value="0" disabled selected>Select your activity level</option>
        <option value="1.2">Sedentary (little or no exercise)</option>
        <option value="1.375">Lightly active (light exercise 1-3 days/week)</option>
        <option value="1.55">Moderately active (moderate exercise 3-5 days/week)</option>
        <option value="1.725">Active (hard exercise 6-7 days/week)</option>
        <option value="1.9">Very active (very hard exercise or physical job)</option>
    </select>
    <div class="radio-inputs">
        <label class="radio">
        <input type="radio" name="gender" value="male" required checked>
        <span class="name">Male 👨</span>
        </label>
        <label class="radio">
        <input type="radio" name="gender" value="female">
        <span class="name">Female 👩</span>
        </label>

    </div>
    <div class="radio-inputs">
        <label class="radio">
        <input type="radio" name="goal" value="cut" required checked>
        <span class="name">Cut ✂️</span>
        </label>
        <label class="radio">
        <input type="radio" name="goal" value="maintain">
        <span class="name">Maintain ⚖️</span>
        </label>
        <label class="radio">
        <input type="radio" name="goal" value="bulk">
        <span class="name">Bulk 💪</span>
        </label>
    </div>

        <button type="submit">Calculate 📊</button>
    </form>
    <br>

    <label for="calories">Calories (kcal)🔥:</label>
    <input type="text" id="calories" name="calories" value="{{ calories }}" class="input" readonly>
    <label for="protein">Protein (g)🥩:</label>
    <input type="text" id="protein" name="protein" value="{{ protein }}" class="input" readonly>
    <label for="bmi">BMI 📈:</label>
    <input type="text" id="bmi" name="bmi" value="{{ bmi }}" class="input" readonly>
    <label for="water">Minimum Water Intake (Litres)💧:</label>
    <input type="text" id="water" name="water" value="{{ water }}" class="input" readonly>








</div>
</body>
{% endblock %}